# Object files
*.o
*.pdb
*.idb
*.obj
*.log

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# settings database crap
*.sdf
*.opensdf
*.suo
*.ilk